---
pagetype: month
layout: layout.html
---

<section class="left page">
    <ul>
        {% for d in month_date_labels %}
            {% if loop.index <= 16 %}
                <li>
                    <div class="label">
                        <span class="dow">{{d.dow}}</span>
                        <span class="dom">{{d.dom}}</span>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</section>

<section class="right page">
    <ul>
        {% for d in month_date_labels %}
            {% if loop.index > 16 %}
                <li>
                    <div class="label">
                        <span class="dow">{{d.dow}}</span>
                        <span class="dom">{{d.dom}}</span>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</section>

