---
pagetype: trackers
layout: layout.html
---

{% set cols = ["&nbsp;", "EX", "FR", "CR", "LU", "G", "ET", "A", "wt", "kc"] %}
<section class="left page">
    <ul class="main">
        {% for c in cols %}
            <li class="main">
                {{c|safe}}
                <ul>
                    <li>&nbsp;</li>
                    {% for d in month_date_labels %}
                        {% if c === "&nbsp;" %}
                            <li class="{{"weekend" if d.dow === "S" else ""}}">
                                <span class="dow">{{d.dow}}</span><span class="dom">{{d.dom}}</span>
                            </li>
                        {% else %}
                            <li class="{{"weekend" if d.dow === "S" else ""}}"></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</section>

