---
pagetype: trackers
layout: layout.html
---

{% set cols = ['&nbsp;', 'X', 'F', 'C', 'L', 'G', 'E', 'A', 'wt', 'kc'] %}
<section class="left page">
    <ul class="main">
        {% for c in cols %}
            <li class="main">
                {{c|safe}}
                <ul>
                    <li>&nbsp;</li>
                    {% for d in month_date_labels %}
                        {% if c === '&nbsp;' %}
                            <li>
                                <span class="dow">{{d.dow}}</span><span class="dom">{{d.dom}}</span>
                            </li>
                        {% else %}
                            {% if d.dow === 'S' %}
                                <li class="weekend"></li>
                            {% else %}
                                <li></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</section>

