body {
    display: grid;
    font-family: Hack;
    height: 8.5in;
    width: 11in;
}

.page {
    outline: 1px dotted #ccc;
    height: 7in;
    width: 4.75in;

    &.left {
        grid-column: 1;
        grid-row: 1;
    }

    &.right {
        grid-column: 2;
        grid-row: 1;
    }
}

#month {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 7in;
        width: 4.75in;

        li {
            border-bottom: 1px solid #ccc;
            box-sizing: border-box;
            height: .435in;
            line-height: .435in;
            padding-left: .05in;
            width: 100%;

            &.weekend {
                background: #eee;
            }

            .label {
                border-right: 1px solid #666;
                width: .5in;

                .dow {
                    color: green;
                }
            }
        }
    }
}

#future {
    ul.main {
        display: grid;
        grid-template-columns: .3in .3in .3in .3in .3in .3in auto;
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 7in;
        width: 4.75in;

        li.main {
            border-right: 1px solid #ccc;
            font-size: 8pt;
            grid-row: 1;
            padding-top: .05in;
            text-align: center;

            &.col1 {
                grid-column: 1;
            }
            &.col2 {
                grid-column: 2;
            }
            &.col3 {
                grid-column: 3;
            }
            &.col4 {
                grid-column: 4;
            }
            &.col5 {
                grid-column: 5;
            }
            &.col6 {
                grid-column: 6;
            }

            &.last {
                border-left: 2px solid #ccc;
                border-right: none;
                grid-column: 7;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    border-bottom: 1px dotted #def;
                    height: .25in;
                }
            }
        }
    }
}

#trackers {
    ul.main {
        display: grid;
        grid-template-columns: .5in .3in .3in .3in .3in .3in .3in .3in .75in .75in;
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 7in;
        width: 4.75in;

        li.main {
            border-right: 1px solid #ccc;
            font-size: 8pt;
            grid-row: 1;
            padding-top: .05in;
            text-align: center;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    border-bottom: 1px dotted #def;
                    font-size: 10pt;
                    height: .2in;
                    line-height: 16pt;

                    &.weekend {
                        background: #eee;
                    }

                    .dow {
                        color: green;
                    }
                }
            }

        }
    }
}
